			
            /** Reestruturação do HEADER **/



             .main-header .header-upper .buy-now{
                position:inherit;
                float: left;
                left:auto;
                width: 150px
            }

            

            a.link-brand{
                width: 360px;
                height: 140px;
                float: left;
                display: block;
            }

            .sac-menu{
                position: relative;
                left: 0;
                top: 0;
                float: right;
                margin-right: -13px;
            }

            .sac-menu .sm-item{
                float: left;
                margin: 0 -4px 0 5px;
            }

            .sac-menu .sm-submenu{
                top:98%;
            }
            

			.layout_default .sac-menu .sm-link{
				transition: all .1s ease-out !important;
    		}
    		.layout_default .main-header .header-upper{
    			transition: all .1s ease-out !important;
    		}
    		.layout_default .main-header .header-upper .brand{
    				transition: all .1s ease-out !important;
    		}
    		.layout_default.static .main-header .header-upper .buy-now{
    			transition: left .1s ease-out;
    		}

            .whatsapp {
                margin-top: -3px;
                left: -8px !important;
                position: relative !important;
            }
            .layout_default .main-header .header-upper .buy-now .phone a{
               
                transition: unset !important;
            }

            .social_share i.whatsapp{
                left: -1px !important;
                top: 1px;
            }

             .main-header .header-upper{
                background-position: 53% top;
            }

    		


           
             

 			@media screen and (min-width: 991px){

 			.wrap-sticky nav.navbar.bootsnav.sticked{
 				position: relative !important;
 			}

 			.layout_boxed nav.navbar.bootsnav.sticked .navbar-nav, 
 			.layout_dark nav.navbar.bootsnav.sticked .navbar-nav, 
 			.layout_default nav.navbar.bootsnav.sticked .navbar-nav,
 			.layout_double nav.navbar.bootsnav.sticked .navbar-nav{
 				float:left;
 			}	
            .layout_default.static a.link-brand{
                    height: 95px;
            }
 			.layout_default.static .wrap-sticky nav.navbar.bootsnav.sticked{
    			position:relative !important;
    		}
 			
 				
 			.navbar-header{
 				display:none;
 			}
    		.main-header .header-upper{
				transition:none;
			}

            .sac-menu .sm-link{
                width: 171px;
                padding: 20px 0px;
            }

			.sac-menu .sm-link{
				transition: background .1s ease-out !important;
			}
    	
    		.layout_default.static .wrap-sticky nav.navbar.bootsnav.sticked{
    			position:relative !important;
    		}
    	
    		.layout_default.static .sac-menu .sm-link .icon{
    			float: left;
                padding: 15px 5px;
    		}
    		.layout_default.static .sac-menu .sm-link{
				height: 79px;
				font-size: 12px;
				padding: 10px 10px;
                transition: all .1s ease-out;
                float: left;
			
    		}
            .layout_default.static .sac-menu .sm-link .sm-content{
                    padding: 14px 0 0 0;
                    display: block;
            }
			.layout_default.static .main-header .header-upper{
				height: 95px;
				
			}
            .layout_default.static .main-header .header-upper .brand{
                height: 84px;
                background-size: contain;
                margin-top: 7px;
            }

            .layout_default.static .main-header .header-upper .buy-now{
                    top:17px;
            }

            .layout_default.static .main-header .header-upper .buy-now .attendance{
                font-size: 12px;
            }
            .layout_default.static .main-header .header-upper .buy-now .phone,
            .layout_default.static .main-header .header-upper .buy-now .phone a{
                font-size: 12px;
                margin-top: 5px;
                display: block;
                transition:unset !important
            }
            .layout_default.static .main-header .header-upper .buy-now .phone a{
                transition: unset !important;
                padding: 0;
                margin: 0;
                position: relative;
            
            }
            .layout_default.static .main-header .header-upper .buy-now .phone .prefix{
                font-size: 9px;
            }
            a.link-brand{
                    width: 290px;
                    transition:unset !important;
                }

            .layout_default.static a.link-brand{
                width: 265px;
            }
		

    	}

        @media screen and (max-width: 1199px){


        		.wrap-sticky nav.navbar.bootsnav.sticked{
 					position: relative !important;
 				}

                .sac-menu .sm-link{
                       width: 142px;
                       font-size: 15px;
                       float: left;

                }
                .layout_default.static .sac-menu .sm-link .sm-content{
                    left: -5px;
    position: relative;
                }
                .layout_default.static .sac-menu .sm-link{
                    font-size: 12px;
                    padding: 10px 0;
                }
                .layout_default.static .main-header .header-upper .buy-now .phone .prefix{
                    font-size: 9px;
                }
                a.link-brand{
                    width: 193px;
                    transition:unset !important;
                }

                header nav.navbar.bootsnav ul.nav > li > a{
                    font-size: 13px;
                    padding: 20px 6px;
                }
                .layout_default.static a.link-brand {
                    width: 183px;
                }

            }

           @media screen and (max-width: 360px){
           	
           	 .layout_default nav.navbar.bootsnav .navbar-brand,
           	 .layout_default nav.navbar.bootsnav.navbar-sticky .navbar-brand
           	{
           		width:33%
           	}
           	nav.navbar.bootsnav .navbar-header{
           		padding-left: 0;
           		padding-right: 0;
           	}
           }

           @media screen and (max-width: 991px){
                .sac-menu{
                    display:none;   
                }
                .layout_default.static{
                    position: relative;
                }
                .attr-nav{
                    display:block !important;
                }
                nav.navbar.bootsnav .navbar-brand{
                    display:block !important;
                }
                .main-header{
                    display:block;
                }

                .main-header .header-upper .buy-now{
                	float: right;
                	top:6px !important;
                	display:block;
                	height:auto !important;
                }
                a.link-brand{
                	width:100px;
                	height: auto;
                }
                .main-header .header-upper {
    				background-position: 38% top;
				}
            }

           
           @media screen and (max-width:550px){

           .main-header .header-upper {
    background-position: 40% top;
    background-image: url(../images/header-bg.png) !important;
}
           }

           @media screen and (max-width:300px){
           	.attr-nav .social_share{
           		display:none;
           	}
           }
